/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #1C1C1C;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    z-index: 10;
}

.logo img {
    max-height: 60px; /* Ajusta la altura del logo según sea necesario */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 20;
    right: 0;
}

nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul li:hover .dropdown-content {
    display: block;
}


/* Hero section styles */
.hero-section {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background: #303132;
}

.typewriter {
    font-size: 2em; /* Ajustado de 1em a 2em */
    margin-bottom: 20px;
    border-right: 2px solid white;
    white-space: pre-wrap;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
}

/* Botones */
button {
    --glow-color: #b64491;
    --glow-spread-color: rgba(191, 123, 255, 0.3); /* Reducir opacidad */
    --enhanced-glow-color: #e84684;
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em .1em var(--glow-color), /* Reducir tamaño del brillo */
                0 0 2em 0.5em var(--glow-spread-color), /* Reducir tamaño del brillo */
                inset 0 0 .5em .1em var(--glow-color); /* Reducir tamaño del brillo */
    text-shadow: 0 0 .3em var(--glow-color); /* Reducir tamaño del brillo */
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(1.5em); /* Reducir el desenfoque */
    opacity: .5; /* Reducir opacidad */
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 0.5em .1em var(--glow-color),
                0 0 3em 1em var(--glow-spread-color), /* Reducir tamaño del brillo */
                inset 0 0 .5em .1em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.5em .1em var(--glow-color),
                0 0 2em 1em var(--glow-spread-color), /* Reducir tamaño del brillo */
                inset 0 0 .5em .1em var(--glow-color);
}

/* Banner styles */
.banner-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #ffffff;
}

.intro-logos_oh {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.intro-logos_w {
    display: flex;
    animation: scroll 90s linear infinite;
}

.intro-logos_logo {
    flex: 1;
    width: auto;
    max-height: 100px;
    margin: 0 20px;
    display: block;
    object-fit: contain;
    transition: transform 0.3s;
}

.intro-logos_logo:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Servicios styles */
.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    background: #ffffff;
}

.service {
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.service:hover {
    transform: translateY(-10px);
}

.service h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.service a {
    text-decoration: none;
    color: inherit;
}

.service a:hover h3 {
    color: #E84684;
}

/* Call-to-action styles */
.call-to-action {
    padding: 60px 20px;
    text-align: center;
    color: #FFFFFF;
    background: #303132;
}

.call-to-action h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.call-to-action p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Gear Section styles */
.gear-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.gear-logo {
    height: 500px;
    transition: transform 0.1s linear;
}

.gear-section:focus-within .gear-logo {
    outline: 5px solid #E84684; /* Cambia el color y tamaño del contorno según sea necesario */
}

/* Footer styles */
footer {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #DDD;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    height: 50px;
}

.logo-gear {
    height: 50px;
    margin-left: 10px;
    animation: rotate 10s linear infinite;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    border-top: 1px solid #000;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    color: #E84684;
}

.footer-bottom a {
    color: #E84684;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Imagen 3D */
.container {
    perspective: 1000px;
    width: 500px; /* Ajusta según el tamaño deseado */
    height: 300px; /* Ajusta según el tamaño deseado */
    margin: 50px auto; /* Centra el contenedor */
}

.pane {
    outline: 2px solid #e84684;
    box-shadow: 0 0 10px #b64491, inset 0 0 10px #b64491;
    height: 100%; /* Ocupa toda la altura del contenedor */
    width: 100%; /* Ocupa toda la anchura del contenedor */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-out; /* Transición rápida para una respuesta fluida */
}

.image-container {
    height: 100%; /* Ocupa toda la altura del panel */
    width: 100%; /* Ocupa toda la anchura del panel */
    position: relative;
    overflow: hidden;
}

.image-container img {
    height: 100%; /* Ajusta la imagen para que ocupe todo el contenedor */
    width: 100%; /* Ajusta la imagen para que ocupe todo el contenedor */
    object-fit: cover; /* Cubre el contenedor sin deformarse */
}
